 <section style="padding-top: 30vh;"> 
  <div class="container">
  <owl-carousel [options]="carouselOptions"  [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" >
      <div class="single-popular-course">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="/assets/img/popular-course/p3.jpg" alt="" />
        </div>
        <div class="details">
          <div class="d-flex justify-content-between mb-20">
            <p class="name">programming language</p>
            <p class="value">$150</p>
          </div>
          <a href="#">
            <h4>Learn Angular JS Course for Legendary Persons</h4>
          </a>
          <div class="bottom d-flex mt-15">
            <ul class="list">
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
            </ul>
            <p class="ml-20">25 Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item" >
      <div class="single-popular-course">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="/assets/img/popular-course/p3.jpg" alt="" />
        </div>
        <div class="details">
          <div class="d-flex justify-content-between mb-20">
            <p class="name">programming language</p>
            <p class="value">$150</p>
          </div>
          <a href="#">
            <h4>Learn Angular JS Course for Legendary Persons</h4>
          </a>
          <div class="bottom d-flex mt-15">
            <ul class="list">
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
            </ul>
            <p class="ml-20">25 Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item" >
      <div class="single-popular-course">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="/assets/img/popular-course/p3.jpg" alt="" />
        </div>
        <div class="details">
          <div class="d-flex justify-content-between mb-20">
            <p class="name">programming language</p>
            <p class="value">$150</p>
          </div>
          <a href="#">
            <h4>Learn Angular JS Course for Legendary Persons</h4>
          </a>
          <div class="bottom d-flex mt-15">
            <ul class="list">
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
            </ul>
            <p class="ml-20">25 Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item" >
      <div class="single-popular-course">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="/assets/img/popular-course/p3.jpg" alt="" />
        </div>
        <div class="details">
          <div class="d-flex justify-content-between mb-20">
            <p class="name">programming language</p>
            <p class="value">$150</p>
          </div>
          <a href="#">
            <h4>Learn Angular JS Course for Legendary Persons</h4>
          </a>
          <div class="bottom d-flex mt-15">
            <ul class="list">
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
            </ul>
            <p class="ml-20">25 Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item" >
      <div class="single-popular-course">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="/assets/img/popular-course/p3.jpg" alt="" />
        </div>
        <div class="details">
          <div class="d-flex justify-content-between mb-20">
            <p class="name">programming language</p>
            <p class="value">$150</p>
          </div>
          <a href="#">
            <h4>Learn Angular JS Course for Legendary Persons</h4>
          </a>
          <div class="bottom d-flex mt-15">
            <ul class="list">
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
            </ul>
            <p class="ml-20">25 Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item" >
      <div class="single-popular-course">
        <div class="thumb">
          <img class="f-img img-fluid mx-auto" src="/assets/img/popular-course/p3.jpg" alt="" />
        </div>
        <div class="details">
          <div class="d-flex justify-content-between mb-20">
            <p class="name">programming language</p>
            <p class="value">$150</p>
          </div>
          <a href="#">
            <h4>Learn Angular JS Course for Legendary Persons</h4>
          </a>
          <div class="bottom d-flex mt-15">
            <ul class="list">
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-star"></i></a>
              </li>
            </ul>
            <p class="ml-20">25 Reviews</p>
          </div>
        </div>
      </div>
    </div>
  </owl-carousel>
</div>
</section>

 
