<!-- ================ start banner Area ================= -->
<section class="banner-area course-banner">
  <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8">
          <h1 class="intro-head">Course Details</h1>
                            <h5 class="course-name">Course Name</h5><br>
                            <h3>Complete HTML: Go from zero to hero in HTML 5</h3>
                            <BR>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore rem quaerat nesciunt voluptate quo fugit.</p>
                            <a href="#" class="primary-btn">Enroll for free </a>
                            <br><br>
                            <h6> <b>2,107</b> already enrolled!</h6>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
        <img class="intro-img" src="assets/img/courseimg.png" alt="" /> 
        </div>
      </div>
      </div>

</section>
<!-- ================ End banner Area ================= -->
<!--================ Start Course Details Area =================-->
<section class="course-details-area section-gap" ID="course" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course-details-left">
                    <div class="content-wrapper">
                   <div class="aboutcourse">

<h4 class="title">About This Course</h4>
<div class="content">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquid fuga odio a consequatur ut alias ea ullam, natus expedita beatae esse unde deserunt magnam eius amet porro in explicabo. <br>
<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis animi facilis saepe quidem magnam hic cumque dolorem, fugiat magni molestiae!</p>
</div>
                   </div>
                
               
                    <h4 class="title">What You'll Learn</h4>
                    <div class="content">
                      <div class="row">
                          <div class="col-lg-6">
                                <p><span class="lnr lnr-pointer-right"></span>
                                    Lorem ipsum dolo  dolor sit amet conser sit amet consectetur.</p>
                                    <p><span class="lnr lnr-pointer-right"></span>
                                        Lorem ipsum dolor sit amet consectetur.</p>
                                        <p><span class="lnr lnr-pointer-right"></span>
                                            Lorem ipsum dolor  dolor sit amet conse sit amet consectetur.</p>
                                    
                         </div>
                      <div class="col-lg-6">
                            <p><span class="lnr lnr-pointer-right"></span>
                                Lorem ipsum dolor sit amet consectetur.</p>
                                <p><span class="lnr lnr-pointer-right"></span>
                                    Lorem ipsum dolo  dol  dolor sit amet conseor sit amet conser sit amet consectetur.</p>
                      
                                <p><span class="lnr lnr-pointer-right"></span>
                                    Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>
            </div>

                    <h4 class="title">Prerequisites</h4>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea
                        commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum.
                    </div>

                    <h4 class="title">Course Outline</h4>
                    <div class="content">
                        <ul class="course-list">
                            <li class="justify-content-between d-flex">
                                <p>Introduction Lesson</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section1">+</button> 
                            </li>
                                <div class="section-content" id="section1">
                                        <div>
                                          <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Basics of HTML</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section2">+</button> 
                            </li>
                                <div class="section-content" id="section2">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                           
                            <li class="justify-content-between d-flex">
                                <p>Getting Know about HTML</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section3">+</button> 
                            </li>
                                <div class="section-content" id="section3">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Tags and Attributes</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section4">+</button> 
                            </li>
                                <div class="section-content" id="section4">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Basics of CSS</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section5">+</button> 
                            </li>
                                <div class="section-content" id="section5">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Getting Familiar with CSS</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section6">+</button> 
                            </li>
                                <div class="section-content" id="section6">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Introduction to Bootstrap</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section7">+</button> 
                            </li>
                                <div class="section-content" id="section7">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Responsive Design</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section8">+</button> 
                            </li>
                                <div class="section-content" id="section8">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>
                            <li class="justify-content-between d-flex">
                                <p>Canvas in HTML 5</p>
                                <button class="toggle-section btn text-uppercase" data-toggle-content="section9">+</button> 
                            </li>
                                <div class="section-content" id="section9">
                                        <div>
                                           <ul>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz</li></a>
                                                
                                          </ul>
                                        </div>
                                      </div>

                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Trainer’s Name</p>
                            <span class="or">George Mathews</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Fee </p>
                            <span>&#x20B9;830</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Available Seats </p>
                            <span>15</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Schedule </p>
                            <span>According to you</span>
                        </a>
                    </li>
                </ul>
                <a href="#" class="primary-btn text-uppercase enroll text-center"> Enroll the course</a>

                <h4 class="title">Reviews</h4>
                <div class="content">
                    <div class="review-top row pt-40">
                        <div class="col-lg-12">
                            <h6 class="mb-15">Provide Your Rating</h6>
                            <div class="d-flex flex-row reviews justify-content-between">
                                <span>Quality</span>
                                <div class="star">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span>Outstanding</span>
                            </div>
                            <div class="d-flex flex-row reviews justify-content-between">
                                <span>Puncuality</span>
                                <div class="star">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span>Outstanding</span>
                            </div>
                            <div class="d-flex flex-row reviews justify-content-between">
                                <span>Quality</span>
                                <div class="star">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span>Outstanding</span>
                            </div>
                        </div>
                    </div>
                    <div class="feedeback">
                        <h6 class="mb-10">Your Feedback</h6>
                        <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                        <div class="mt-10 text-right">
                                <a href="#" class="primary-btn text-uppercase enroll text-center"> Submit</a>
                        </div>
                    </div>
                    <div class="comments-area mb-30">
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/img/blog/c1.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Emilly Blunt</a>
                                            <div class="star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/img/blog/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Elsie Cunningham</a>
                                            <div class="star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="assets/img/blog/c3.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Maria Luna</a>
                                            <div class="star">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->
