<section class="login-section">
  <div class="container">
      
<div class="form-modal">
<div class="row">
  <div class="col-lg-6">
      <div class="container text-center login-text">
          <h2>Welcome To</h2>
          <div class="logo"><a class="navbar-brand" href="index.html">
                  <img src="assets/img/logo.png" alt="" />
                </a></div>
                <img src="assets/img/login.png" class="login-img" alt="">
      </div>
  </div>
  <div class="col-lg-6">
      
  <div class="form-toggle">
          <button id="login-toggle" onclick="toggleLogin()">log in</button>
          <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
      </div>
  
      <div id="login-form">
          <form>
              <input type="text" placeholder="Enter email or username"/>
              <input type="password" placeholder="Enter password"/>
              <a href="index.html"><button type="button" class="btn login">login</button></a> 
              <p><a href="javascript:void(0)">Forgotten account</a></p>
              <hr/>
              <!-- <button type="button" class="btn -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i> </button>
              <button type="button" class="btn -box-sd-effect"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> </button>
              <button type="button" class="btn -box-sd-effect"> <i class="fa fa-windows fa-lg" aria-hidden="true"></i></button> -->
          </form>
      </div>
  
      <div id="signup-form">
          <form>
              <input type="email" placeholder="Enter your email"/>
              <input type="text" placeholder="Choose username"/>
              <input type="password" placeholder="Create password"/>
              <input type="password" placeholder="Confirm password"/>
              <a href="index.html"><button type="button" class="btn signup">create account</button></a> 
              <p>Clicking <strong>create account</strong> means that you are agree to our <a href="javascript:void(0)">terms of services</a>.</p>
              <hr/>
              <!-- <button type="button" class="btn -box-sd-effect"> <i class="fa fa-google fa-lg" aria-hidden="true"></i> </button>
              <button type="button" class="btn -box-sd-effect"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> </button>
              <button type="button" class="btn -box-sd-effect"> <i class="fa fa-windows fa-lg" aria-hidden="true"></i> </button> -->
          </form>
      </div>
  </div>
</div>


</div>
</div>
</section>
