<section class="video-section">
        
  <div class="container">
      <div class="lecture-head">
          <h3>Web Development <span class="lnr lnr-arrow-right"></span> HTML Beginners Course <span class="lnr lnr-arrow-right"></span> Introduction</h3>
      </div>
      <div class="row ">
          <div class="col-lg-3 course-details-left">
                  <h4 class="title">Lectures</h4>
                  <div class="content">
                      <ul class="course-list">
                          <li class="justify-content-between d-flex">
                              <p>Introduction Lesson</p>
                              <button class="toggle-section btn text-uppercase" data-toggle-content="section1">+</button> 
                          </li>
                              <div class="section-content" id="section1">
                                      <div>
                                        <ul>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                        </ul>
                                      </div>
                                    </div>
                          <li class="justify-content-between d-flex">
                              <p>Basics of HTML</p>
                              <button class="toggle-section btn text-uppercase" data-toggle-content="section2">+</button> 
                          </li>
                              <div class="section-content" id="section2">
                                      <div>
                                         <ul>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                        </ul>
                                      </div>
                                    </div>
                                    <li class="justify-content-between d-flex">
                                          <p>Basics of HTML</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section2">+</button> 
                                      </li>
                                          <div class="section-content" id="section2">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                                 <li class="justify-content-between d-flex">
                              <p>Basics of HTML</p>
                              <button class="toggle-section btn text-uppercase" data-toggle-content="section2">+</button> 
                          </li>
                              <div class="section-content" id="section2">
                                      <div>
                                         <ul>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                              <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                        </ul>
                                      </div>
                                    </div>
  
                                    <li class="justify-content-between d-flex">
                                          <p>Getting Know about HTML</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section3">+</button> 
                                      </li>
                                          <div class="section-content" id="section3">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                      <li class="justify-content-between d-flex">
                                          <p>Tags and Attributes</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section4">+</button> 
                                      </li>
                                          <div class="section-content" id="section4">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                      <li class="justify-content-between d-flex">
                                          <p>Basics of CSS</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section5">+</button> 
                                      </li>
                                          <div class="section-content" id="section5">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                      <li class="justify-content-between d-flex">
                                          <p>Getting Familiar with CSS</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section6">+</button> 
                                      </li>
                                          <div class="section-content" id="section6">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                      <li class="justify-content-between d-flex">
                                          <p>Introduction to Bootstrap</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section7">+</button> 
                                      </li>
                                          <div class="section-content" id="section7">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                      <li class="justify-content-between d-flex">
                                          <p>Responsive Design</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section8">+</button> 
                                      </li>
                                          <div class="section-content" id="section8">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
                                      <li class="justify-content-between d-flex">
                                          <p>Canvas in HTML 5</p>
                                          <button class="toggle-section btn text-uppercase" data-toggle-content="section9">+</button> 
                                      </li>
                                          <div class="section-content" id="section9">
                                                  <div>
                                                     <ul>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 2</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 3</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/video.png" alt=""> Video 4</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/doc.png" alt=""> Document 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 1</li></a>
                                                          <a [routerLink]="['/lecture']"><li><img src="assets/img/quiz.png" alt=""> Quiz 2</li></a>
                                                    </ul>
                                                  </div>
                                                </div>
      
                                  
                                  </ul>
                                  </div>
          </div>
          <div class="col-lg-9">
                  <video id="my_video_1" class="video-js vjs-default-skin" width="1280px" height="720px"
                  controls preload="none" poster='assets/img/thumbnail.png'
                  data-setup='{ "aspectRatio":"1280:720", "playbackRates": [1, 1.5, 2] }'>
                <source src="assets/img/video.mp4" type='video/mp4' />
              </video>
              <div class="lecture-des">
              <div class="lecture-name">
                  <h2>Introduction to HTML</h2>
              </div>
              <div class="about-lecture">
              <div class="title">About</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum at explicabo necessitatibus, eius doloremque aliquam quos totam, saepe ex quasi beatae mollitia, fugiat facere neque? Officia, suscipit! Ratione, rerum accusantium!</p>
          </div>
          </div>
          <div class="conversation-block">
                  <div class="comments-area">
              <h4>250 Comments</h4>
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="assets/img/blog/c1.jpg" alt="">
                    </div>
                    <div class="desc">
                      <h5><a href="#">Emilly Blunt</a></h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                      <p class="comment">
                        Never say goodbye till the end comes!
                      </p>
                    </div>
                  </div>
                  <div class="reply-btn">
                    <a [routerLink]="['/lecture']" class="btn-reply text-uppercase">reply</a>
                  </div>
                </div>
              </div>
              <div class="comment-list left-padding">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="assets/img/blog/c2.jpg" alt="">
                    </div>
                    <div class="desc">
                      <h5><a href="#">Elsie Cunningham</a></h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                      <p class="comment">
                        Never say goodbye till the end comes!
                      </p>
                    </div>
                  </div>
                  <div class="reply-btn">
                    <a [routerLink]="['/lecture']" class="btn-reply text-uppercase">reply</a>
                  </div>
                </div>
              </div>
              <div class="comment-list left-padding">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="assets/img/blog/c3.jpg" alt="">
                    </div>
                    <div class="desc">
                      <h5><a href="#">Annie Stephens</a></h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                      <p class="comment">
                        Never say goodbye till the end comes!
                      </p>
                    </div>
                  </div>
                  <div class="reply-btn">
                    <a [routerLink]="['/lecture']" class="btn-reply text-uppercase">reply</a>
                  </div>
                </div>
              </div>
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="assets/img/blog/c4.jpg" alt="">
                    </div>
                    <div class="desc">
                      <h5><a href="#">Maria Luna</a></h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                      <p class="comment">
                        Never say goodbye till the end comes!
                      </p>
                    </div>
                  </div>
                  <div class="reply-btn">
                    <a [routerLink]="['/lecture']" class="btn-reply text-uppercase">reply</a>
                  </div>
                </div>
              </div>
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="assets/img/blog/c5.jpg" alt="">
                    </div>
                    <div class="desc">
                      <h5><a href="#">Ina Hayes</a></h5>
                      <p class="date">December 4, 2017 at 3:12 pm </p>
                      <p class="comment">
                        Never say goodbye till the end comes!
                      </p>
                    </div>
                  </div>
                  <div class="reply-btn">
                    <a [routerLink]="['/lecture']" class="btn-reply text-uppercase">reply</a>
                  </div>
                </div>
              </div>
                      </div>
                      <div class="comment-form">
                              <h4>Join the conversation</h4>
                              <form>
                                  <div class="form-group form-inline">
                                      <div class="form-group col-lg-6 col-md-12 name">
                                          <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                      </div>
                                      <div class="form-group col-lg-6 col-md-12 email">
                                          <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                                  </div>
                                  <div class="form-group">
                                      <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                                       required=""></textarea>
                                  </div>
                                  <a href="#" class="primary-btn">Post Comment</a>
                              </form>
                          </div>
  
          </div>
          </div>
      </div>
          
  </div>
      </section>